.flex-container-row {
  display: flex;
}

.flex-container-row .nav {
  width: 547px;
  height: 100vh;
  flex-grow: 0;
  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.nav > img {
  margin: 68px 0 68px 0;
  align-self: center;
  width: 227px;
  height: auto;
}

.nav .active {
  color: white;
  background-color: #47cdff;
}

.nav-item {
  height: 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #cacaca;
  padding: 32px 0px 26px 0px;
  margin: 20px 0px;
}

.nav-item:hover {
  text-decoration: none;
}

.content {
  flex-grow: 1;
}

.nav-item .icon {
  width: 37.5px;
  height: 37.5px;
  margin-left: 25px;
  margin-right: 25px;
}

.bg-mygray {
  background-color: #e5e5e5;
}

.box-shadow {
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #b6b6b6;
  border-radius: 10px;
}
